JavaDay17/src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.ganzhenghao.com/person"
        elementFormDefault="qualified">

    <element name="persons">
        <complexType>
            <sequence>
                <element name="person">
                    <complexType>
                        <sequence>
                            <element name="name" type="string"/>
                            <element name="age" type="string"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>

</schema>